body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1rem;
  color: #828282;
  margin: 0% 5%;
  height: 100%;
  width: 90%;
}

/* mobile screen */
@media (max-width: 1200px) {
  body {
    margin: 0%;
    width: 100%;
  }
}

h4 {
  margin: 0%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

header {
  background-color: #ff6600;
  padding: 0.5rem;
  color: #000000;
}

@media (min-width: 750px) {
  header {
    display: grid;
    grid-template-areas: "divLogo nav login";
    grid-column-gap: 1%;
  }
}

@media (min-width: 1200px) {
  header {
    display: grid;
    grid-template-areas: "divLogo nav login";
    grid-template-columns: 15% auto 15%;
    grid-column-gap: 1%;
  }
}

@media (max-width: 750px) {
  header {
    display: grid;
    grid-template-areas:
      "divLogo login"
      "nav nav";
    grid-column-gap: 1%;
    grid-row-gap: 1%;
  }
}


.divLogo {
  display: flex;
  flex-direction: row;
  align-self: center;
  grid-area: divLogo;
}

@media (min-width: 1200px) {
  nav {
    max-width: 70%;
  }
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  grid-area: nav;
}

.login {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  grid-area: login;
}

.logo {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 0 10px;
}

main {
  background-color: #f6f6ef;
  min-height: calc(100vh - 3rem);
  margin: 0%;
  overflow: auto;
}

.newsList {
  font-size: 10pt;
}

.divGrid {
  display: grid;
  grid-template-areas: "upvote linkDetails"
    ". linkSubDetails";
  grid-template-columns: 10px auto;
  grid-column-gap: 2px;
  padding: 2.5px 0;
}

.upvote {
  grid-area: upvote;
  font-size: 9pt;
  /* padding-top: 5px; */
}

.linkDetails {
  grid-area: linkDetails;
}

.linkText {
  color: #000000;
  font-size: 10pt;
}

.linkDomain {
  font-size: 8pt;
}

.linkSubDetails {
  font-size: 7pt;
  grid-area: linkSubDetails;
}

footer,
centre {
  margin: 0%;
  background-color: #f6f6ef;
}

hr {
  background-color: #f6f6ef;
  color: #ff6600;
  margin: 0%;
}

.navFooter {
  color: #000000;
  font-size: 8pt;
  padding: 0.5rem 30%;
}

.navSearch {
  padding: 0.5rem;
  padding: 1rem;
}